.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 3px solid black;
  background-color: #f1b6e3;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
}
.board__row {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.board__message {
  height: 30px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
