.square {
  width: 60px;
  height: 60px;
  background-color: #fc417f;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.square:hover {
  transform: scale(1.1);
}
